sub-header
  admin-features-subheader(on-form-submit="$ctrl.save()", form="form")

form(name="form", admin-loading-status)
  .card
    .listview.lv-bordered.lv-lg
      .lv-body
        admin-features-item(ng-repeat="feature in $ctrl.features | orderBy: 'name'", feature="feature")
