.admin-root.full-width.row.no-padding-xs(sub-header-aware)
  .col-md-3.col-xl-2.hidden-xs
    admin-sidebar
  .col-md-9.col-xl-10.col-xs-12.no-padding-xs
    .ui-view(name="root", noanimation="noanimation")
