extends /modules/subheader/responsive-subheader.pug

block left
  admin-subheader-burger-button
  span.title.ellipsis
    |  {{ 'Login Configuration' | translate }}

block right
  esn-subheader-save-button(on-click="$ctrl.onFormSubmit()", form="$ctrl.form")
