sub-header
  admin-resources-subheader

.row
  .col-md-4.col-xs-6.block-header
    h2 {{ 'Name' | translate }}
  .col-md-5.col-xs-5.block-header
    h2 {{ 'Description' | translate }}

.card
  esn-resource-list
  esn-resource-create-modal
    fab
