admin-form-multi-input {
  .form-group {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  @media (min-width: @screen-md-min) {
    .field-option {
      .mdi {
        font-size: 1.5em;
      }
    }
  }
}
