.lv-body
  .lv-item(toggled="true", esn-toggle)
    .md-button.clickable.flex-start.flex-vertical-centered.block-header
      h2 {{ 'Contact' | translate }}
      i.mdi.mdi-chevron-up

  ul
    admin-maintenance-contact-domain-members