sub-header
  admin-elasticsearch-subheader(on-form-submit="$ctrl.save()", form="form")

form(name="form", admin-loading-status)
  .card
    .card-body.card-padding
      .row
        .col-md-6
          esn-form-group(label="{{ 'URL' | translate }}", helper="{{ 'Elasticsearch URL to be used in backend' | translate }}")
            input.form-control(type="url", ng-model="$ctrl.config.host", auto-focus, name="url", required)
