ng-form(name="form", esn-autocomplete-off)
  .row
    .col-md-6
      esn-form-group(label="{{ 'Email' | translate }}", async-validator-error-message="{{ 'The email is already used. Try another one.' | translate }}", async-validator="$ctrl.emailAvailabilityChecker")
        input.form-control(type="email", ng-model="$ctrl.user.accounts[0].emails[0]", autocomplete="off", required, name="email", ng-model-options="{ debounce: {'default': 300} }")
    .col-md-6
      esn-form-group(label="{{ 'Password' | translate }}")
        input.form-control(type="password", ng-model="$ctrl.user.password", autocomplete="new-password", required, name="password")
  .row
    .col-md-6
      esn-form-group(label="{{ 'First name' | translate }}")
        input.form-control(type="text", ng-model="$ctrl.user.firstname")
    .col-md-6
      esn-form-group(label="{{ 'Last name' | translate }}")
        input.form-control(type="text", ng-model="$ctrl.user.lastname")
  .row
    .col-md-6
      esn-form-group(label="{{ 'Job title' | translate }}")
        input.form-control(type="text", ng-model="$ctrl.user.job_title")
    .col-md-6
      esn-form-group(label="{{ 'Service' | translate }}")
        input.form-control(type="text", ng-model="$ctrl.user.service")
  .row
    .col-md-12
      esn-form-group(label="{{ 'Building location' | translate }}")
        input.form-control(type="text", ng-model="$ctrl.user.building_location")
  .row
    .col-md-12
      esn-form-group(label="{{ 'Office location' | translate }}")
        input.form-control(type="text", ng-model="$ctrl.user.office_location")
  .row
    .col-md-6
      esn-form-group(label="{{ 'Main phone' | translate }}")
        input.form-control(type="text", ng-model="$ctrl.user.main_phone")
    .col-md-6
      esn-form-group(label="{{ 'Bio' | translate }}")
        textarea.form-control(ng-model="$ctrl.user.description")
