@import './list/admin-domains-list';
@import './item/admin-domains-item';

.admin-domains-modal {
  .title {
    color: @text-color;
  }

  &.modal.full-screen .modal-dialog .modal-content .modal-body {
    padding: 25px 20px 0 20px;
  }

  .form-group {
    margin-bottom: 10px;
  }
}
